# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [16]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [17]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a = [1, 2, 3, 4, 5, 6]
l = a[3::]

In [6]:
# create a list of numbers from 1 to 20
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [7]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
a = []
for i in range (101):
    if i % 2 == 0:
        a.append(1)

In [8]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def func1(a,b):
    return a/b

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):
    if i % 3 == 0:
        print('fizz')
    if i % 5 == 0:
        print('buzz')
    if i % 3 == 0 and i % 5 == 0:
        print('fizzbuzz')
    else: 
        print(i)

In [10]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

d = {
    'Gyro': 9,
    'Burger': 9,
    'Greekk Salad': 8,
    'Philly Steak': 10
}

In [15]:
import pandas as pd
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
df = pd.read_csv("/data/starbucks.csv")
type(df)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# select all rows with more than and including 400 calories
df['calories'] >= 400

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

df[df['vitamin c'] > df['iron']]

In [ ]:
# create a new column containing the caffeine per calories of each drink

df['caffeine per calories'] = df[df['caffeine'] / df['calories']]

In [ ]:
# what is the average calorie across all items?

df['calories'].mean()

In [ ]:
# how many different categories of beverages are there?
df['beverage'].unique()

In [ ]:
# what is the average # calories for each beverage category?
df.groupby('beverage')['calories'].mean()